<!DOCTYPE html>
<html>
<head>
    <title>Movie Search Results</title>
</head>
<body>

    <h1>Movie Search</h1>
    <form action="/search" method="get">
        <label for="search">Search:</label>
        <input type="text" id="search" name="title" placeholder="Enter movie title" required>
        <input type="submit" value="Search">
    </form>
    <h1>Search Results</h1>
    {% if movies %}
    <ul>
        {% for movie in movies %}
        <li>
            <h2>{{ movie.title }}</h2>
            <p>Year: {{ movie.year }}</p>
            <img src="{{ movie.poster }}" alt="{{ movie.title }} poster" width="200">
            <a href="/movie/{{ movie.imdb }}" target="_blank">Watch on VidSrc</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No results found.</p>
    {% endif %}
</body>
</html>
